<header class="navbar">
    <a class="navbar-brand">
        <img src="https://media.istockphoto.com/id/486242045/vector/sample-red-3d-realistic-paper-speech-bubble-isolated-on-white.jpg?s=612x612&w=0&k=20&c=H7a_5jtJvmrr_VtdvHpb4C8D4BLue9Hr1IlTvtG_Khw=" 
        routerLink="/" style="max-height: 80px;" alt="logo">
    </a>
    <nav class="navbar" style="font-size: larger; font-family: 'Candara', Candara, monospace;">
        <a class="nav-item" [routerLink]="['/weather']" routerLinkActive="active">Check Weather</a>
        <a class="nav-item" routerLink="/math" routerLinkActive="active">Try Math</a>
    </nav>
</header>

