<div class="food-details">
    <h2 class="food-details__name">{{ food.name }}</h2>
    <p class="food-details__description">{{ food.description }}</p>
    <div class="food-details__info">
      <div class="food-details__quantity">Quantity: {{ food.quantity }}</div>
      <div class="food-details__price">Price: {{ food.price | currency }}</div>
      <div class="food-details__category">Category: {{ food.categoryId }}</div>
      <div class="food-details__id">ID: {{ food.id }}</div>
    </div>
    <div class="food-details__buttons">
      <button class="food-details__edit-button" routerLink="/food/update/{{food.id}}">Edit</button>
      <button class="food-details__delete-button" (click)="deleteFood(food.id)">Delete</button>
    </div>
  </div>
  