/* footer styles */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: hsl(83, 31%, 67%);
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.copyright {
  font-size: 14px;
}
p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 1em;
}
