<header class="navbar">
    <a class="navbar-brand">
        <img src="https://media.istockphoto.com/id/486242045/vector/sample-red-3d-realistic-paper-speech-bubble-isolated-on-white.jpg?s=612x612&w=0&k=20&c=H7a_5jtJvmrr_VtdvHpb4C8D4BLue9Hr1IlTvtG_Khw=" 
        routerLink="/" alt="logo">
    </a>
    <nav class="navbar">
        <a class="nav-item" [routerLink]="['/orders']" routerLinkActive="active">Orders</a>
        <a class="nav-item" routerLink="/customers" routerLinkActive="active">Customers</a>
        <a class="nav-item" routerLink="/foods" routerLinkActive="active">Food</a>
    </nav>
</header>

