.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    background-color: hsl(83, 31%, 67%);
    color: #fff;
    box-shadow: 0 2px 4px rgba(199, 166, 75, 0.1);
 }

 .nav-ietm {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .navbar a {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 1rem;
    text-decoration: none;
    border-radius: 25px;
    font-family: 'Candara', Candara, monospace;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
 }
 
 .navbar a:hover {
    background-color: #444;
    border-radius: 25px;
 }
 
 .navbar a.active {
    background-color: #555;
    font-weight: bold;
 }

 .navbar-brand img{
    width:50px;
    height:50px;
    max-height: 80px;
    border-radius:50%;
    margin-right:10px;
}

.navbar-brand img:hover{
    transform:scale(1.2);
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-wrap:wrap;
        justify-content: center;
        flex-direction: column;
    }
    .navbar a {
        padding: 5px;
        margin: 0.5rem 0;
        font-size: 0.8em;
    }
    .navbar-brand img{
        width:40px;
        height:40px;
    }
}

// @media screen and (max-width: 768px) {
//     .navbar {
//     flex-direction: column;
//     }
    
//     .navbar a {
//     margin: 0.5rem 0;
//     }
// }

